*
# since importing package.json to get the version, we need to do some special 
# handling to get all the dist files since npm looks for the package.json file 
# in the current directory https://stackoverflow.com/a/51107553/3145360
!dist/**